body {
    font-family: 'Poppins', sans-serif;
  }

  .logo{
    max-height: 80px;
  }

  h4{
    font-size: 30px;
    font-weight: bold;
    color: #283371;
  }
  .navbar {
    background-color: #283371;
  }
  .navbar-brand, .nav-link, .dropdown-toggle {
    color: white !important;
  }
  .nav-item{
    font-size: 17px !important;
  }
  .dropdown-menu {
    background-color: #283371;
  }
  .dropdown-item {
    color: white !important;
  }
  .dropdown-item:hover {
    background-color: #F35D42;
  }
  .card{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .card:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  .card12 {
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .card12:hover {
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); */
    transform: translateY(-5px);
  }
  .footer {
    background-color: #81CCE3;
    color: white;
    padding-top: 30px;
  }
  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .footer-logo {
    max-height: 100px;
  }
  .footer-icons a {
    margin-right: 10px;
    font-size: 30px;
  }
  .footer-bottom {
    background-color: #0a0a0a;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #F35D42;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
  max-width: 120px; /* Ukuran logo lebih seragam */
  height: auto;
}

.title {
  color: #1E3A8A; /* Biru dari palet warna */
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.university {
  font-size: 1.3rem;
  font-weight: 600;
  color: #F59E0B; /* Warna kuning/oranye */
}

.logo:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}